#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-container {
  background-color: #e1d0b3;
  border-radius: 8px;
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.app-title {
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  color: #703b3b;
  margin-bottom: 1.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.task-input {
  width: 100%;
  border-radius: 5px;
  height: 40px;
  margin-bottom: 8px;
}

input {
  padding-left: 3px;
}
